//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html
    head
        title Update Books
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            h1 Update Books
            a(href="/") Return to the homepage

            .form-wrapper
                form(action="/updatecobj" method="POST")
                    div
                        label(for="name") Book Name:
                        input(type="text" id="name" name="name" required)

                    div
                        label(for="number_of_pages") Number of Pages:
                        input(type="number" id="number_of_pages" name="number_of_pages" required)

                    div
                        label(for="type") Book Type:
                        select(id="type" name="type" required)
                            option(value="") Select a book type...
                            option(value="Children's") Children's
                            option(value="Fiction") Fiction
                            option(value="Graphic Novel") Graphic Novel
                            option(value="Non-Fiction") Non-Fiction
                            option(value="Poetry") Poetry

                    input(type="submit" value="Submit")
